<!DOCTYPE html>

<head>
  <script type="text/javascript" src="/home/lluaki/Documents/projects/PulseRateAnalysis/assets/Persons.js"></script>
  <script src="/home/lluaki/Documents/projects/PulseRateAnalysis/src/view/node_modules/chart.js/dist/Chart.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/home/lluaki/Documents/projects/PulseRateAnalysis/src/view/node_modules/chart.js/dist/Chart.min.css">
</head>

<body>
  <canvas id="myChart"></canvas>
</body>

<script>
  var ctx = document.getElementById('myChart');

  var myBubbleChart = new Chart(ctx, {
    type: 'bubble',
    data: {
      datasets: [{
          data: data['Bubbles'],
          wborderColor: data['Borders'],
          backgroundColor: data['Colors']
      }]
  },
  options: {
    scales: {
        yAxes: [{
            ticks: {
                beginAtZero: true,
                max: 4,
                min: 0
            }
           
        }],
        xAxes: [{
          ticks: {
              beginAtZero: true,
              min: 0,
              max: 50
          }
      }]
    }
  }
});
</script>